@charset "ISO-8859-1";

/*CLASES GENERALES*/
.split {
	display: block;
}

.middle {
	margin: 0 auto;
}

.right {
	margin: 0 0 0 auto;
}

.left {
	margin: 0 auto 0 0;
}

.spacer {
	display: block;
	height: 40px;
}

.nv--img--small {
	max-width: 30px;
	margin-right: 15px;
}

.mdl-layout__header-row {
	background-color: #527edd;
}

.mdl-layout__header-row img {
	margin: 0 0 0 auto;
	max-width: 100px;
}

.info-llamado {
	display: inline-block;
	border: 1px dashed #e348ff;
	background-color: #fcecff;
	padding: 20px;
	margin: 0 auto 0 0;
	/*max-width: 600px;*/
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

/*INDEX CLASSES*/
.index {
	/*background: url("../GestionCampus/i/background.jpg") no-repeat center center fixed;*/
	background-color: #ebebeb;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
}

.index header {
	background-color: #ffffff;
}

.index header img {
	margin: 10px auto 10px 15px;
}

.index .demo-card-square.mdl-card {
	height: 330px;
}

.index .demo-card-square>.usuarios {
	color: #fff;
	background: url("../GestionCampus/i/usuarios-nocolor.png") bottom right
		10% no-repeat #2196f3;
}

.index .demo-card-square>.aulas {
	color: #fff;
	background: url("../GestionCampus/i/aulas-nocolor.png") bottom right 10%
		no-repeat #009688;
}

.index .demo-card-square>.capacitaciones {
	color: #fff;
	background: url("../GestionCampus/i/capacitaciones-nocolor.png") bottom
		right 10% no-repeat #673ab7;
}

.index .mdl-button {
	text-align: left;
}

.index .mdl-mini-footer__left-section img {
	height: 40px;
	float: left;
	margin-right: 10px;
}

/*FORMULARIO DE CREACION DE AULA*/

/*FORMULARIO DE ALTA DE USUARIOS*/
.alta-usuario .demo-card-square.mdl-card {
	width: 240px;
	height: 230px;
}

.alta-usuario .demo-card-square>.mdl-card__title {
	color: #fff;
	background: url("../GestionCampus/i/excel-ico.png") bottom right 15%
		no-repeat #207347;
}

.alta-usuario #tt1, .alta-usuario #tt2 {
	font-size: 50px;
	cursor: pointer;
}